body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #fff;
}

.top-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

nav .search-bar input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 250px;
}

nav .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

nav .search-bar img {
    width: 20px;
}

nav .nav-icons {
    display: flex;
    gap: 10px;
}

nav .nav-icons img {
    width: 24px;
}


.contact {
    padding: 40px 100px;
}

.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-info {
    flex: 1;
}

.contact-form {
    flex: 2;
}

.info-box {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
}

.icon {
    margin-right: 15px;
}

.info-text h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.contact-form form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input {
    width: 32%;
    padding: 10px;
    border: 1px solid #ddd;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

button {
    background-color: #E03A45;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 40px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-section {
    max-width: 250px;
}

.footer-section a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}